/.project
/.settings/
/core-java/.settings/
/core-java/bin/
/core-java/target/
/core-java/.classpath
/core-java/.project
/core-java-instrumentation/.settings/
/core-java-instrumentation/bin/
/core-java-instrumentation/.classpath
/core-java-instrumentation/.project
/core-java-instrumentation/target/
/core-java-instrumentation/LOGS/
/cs-dojo/.settings/
/cs-dojo/target/
/cs-dojo/.project
/cs-dojo/.classpath
